spring:
  application:
    name: ddcherry-admin
  datasource:
    url: jdbc:mysql://localhost:3306/ddcherryx?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379
    database: 0
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  global-config:
    db-config:
      logic-delete-field: del_flag
      logic-delete-value: 1
      logic-not-delete-value: 0
  configuration:
    map-underscore-to-camel-case: true
decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: true
      logging: slf4j
ddcherry:
  mybatis:
    p6spy:
      enabled: true
      format-sql: true
    scan-base-package: cn.ddcherry
server:
  port: 8080
management:
  endpoints:
    web:
      exposure:
        include: '*'
